/**
 * blue : #3b74ac;
 * blue-blur: #507bac:
 * blue-lighter : #4889ca
 * gray : #a6aaaf
 */

/* login */
.login-main {
    min-height: 100%;
    margin-bottom: -42px;
}

.login-main-body {
    margin: auto;
    padding: 30px 0 102px;
    width: 300px;
}

.login-main-body .logo {
    margin: 0 auto;
    width: 160px;
    height: 150px;
    background: url(../image/logo.png) no-repeat;
    background-size: contain;
}

.login-main-body .subtitle {
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    text-align: center;
}

.login-main-body .sign-form {
    text-align: center;
}

.login-main-body .sign-form .tab-nav {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.login-main-body .sign-form .tab-nav .nav-slider {
    position: relative;
    display: inline-block;
}

.login-main-body .sign-form .tab-nav .nav-slider a {
    float: left;
    width: 4em;
    line-height: 35px;
    opacity: .7;
    -ms-filter: "alpha(Opacity=70)";
    -webkit-transition: opacity .15s, color .15s;
    transition: opacity .15s, color .15s;
    font-weight: 600;
}

.login-main-body .sign-form .tab-nav .nav-slider .active {
    opacity: 1;
    -ms-filter: "alpha(Opacity=100)";
    color: #3b74ac;
}

.login-main-body .sign-form .tab-nav .nav-slider .nav-slider-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 .8em;
    width: 2.4em;
    height: 2px;
    background: #3b74ac;
    -webkit-transition: left .15s ease-in;
    transition: left .15s ease-in;
}

.login-main-body .sign-form .form-fields {
    float: none;
    margin: auto;
    width: 300px;
    text-align: left;
    font-size: 14px;
}

.login-main-body .sign-form .form-fields .group-inputs {
    padding: 1px 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.login-main-body .sign-form .form-fields .group-inputs .input-wrapper {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.login-main-body .sign-form .captcha-module .captcha-container {
    margin-top: 0;
    text-align: right;
    line-height: 40px;
    font-size: 13px;
}

.login-main-body .sign-form .captcha-module .captcha-container .captcha,
.login-main-body .sign-form .captcha-module .captcha-container .r-msg-captcha-btn {
    position: absolute;
    top: 50%;
    right: .5em;
    margin-top: -19px;
    width: 100px;
    height: 38px;
}

.login-main-body .sign-form .captcha-module .captcha-container .r-msg-captcha-btn {
    cursor: pointer;
    width: 80px;
    right: 0.2em;
}

.login-main-body .sign-form .button-wrapper {
    margin-top: 18px;
}

.login-main-body .sign-form .button-wrapper button {
    width: 100%;
}

.login-main-body .sign-form .signin-misc-wrapper {
    margin-top: 18px;
}

.login-main-body .sign-form .signin-misc-wrapper .remember-me {
    float: left;
}

.login-main-body .sign-form .signin-misc-wrapper .remember-me input {
    vertical-align: 1px;
    margin-right: 3px;
}

.login-main-body .sign-form .signin-misc-wrapper .unable-login {
    float: right;
}

/** top nav bar **/
.nav-ctn {
    position: static;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 45px;
    background: #3b74ac;
    background: -webkit-linear-gradient(top, #3b74ac, #3b74ac);
    background: linear-gradient(to bottom, #3b74ac, #3b74ac);
    border-bottom: 1px solid #3b74ac;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .15);
}

.nav-body {
    width: auto;
    margin: 0 auto;
    clear: both;
    padding-left: 6px;
    padding-right: 6px;
}

.nav-body .logo {
    float: left;
    width: 150px;
    height: 45px;
    background-image: url(../image/logo_wide_white.png);
    background-size: 150px;
    text-indent: -9999px;
    color: #FFF;
}

.nav-body .nav-profile {
    float: right;
    position: relative;
    min-width: 120px;
    margin-left: 0px;
    z-index: 10;
}

.nav-body .nav-profile .user-info {
    position: relative;
    height: 50px;
    line-height: 45px;
    text-indent: 46px;
    color: #fff;
    text-decoration: none;
    border-top: 0;
    background: transparent;
    box-shadow: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    width: 120px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    font-size: 14px;
}

.nav-body .nav-profile .user-info .avatar {
    position: absolute;
    top: 9px;
    left: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

.nav-body .nav-profile .nav-dropdown {
    top: 46px;
    margin: 0;
    position: absolute;
    right: 0px;
    display: none;
}

.nav-body .nav-profile .nav-dropdown li a {
    width: 105px;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border-top: 1px solid #407fbd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    background-color: #3b74ac;
    font-size: 14px;
    padding-left: 15px;
    color: #FFF;
}

.nav-body .nav-add-code {
    float: right;
    width: 66px;
    height: 30px;
    line-height: 28px;
    margin-top: 7px;
    border: 0;
    background: #4889ca;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}

.nav-body .nav-login-btn {
    float: right;
    width: 100px;
    height: 32px;
    line-height: 35px;
    margin-top: 7px;
    border: 0;
    background: #4889ca;
    color: #fff;
    font-size: 14px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}

.nav-body .nav-menus {
    float: left;
    right: 0px;
    position: relative;
}

.nav-body .nav-menus ul li {
    position: relative;
    float: left;
    margin: 0;
    list-style: none;
}

.nav-body .nav-menus ul li a {
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    color: #f2f4f5;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    font-size: 14px;
}

/** engine test **/
.selection-ctn {
    margin: 10px;
}
.selection-ctn span {
    display: inline-block;
}
.selection-ctn span button {
    width: 100px;
    height: 30px;
    line-height: 28px;
}