@media (max-width: 740px) {
    /* login */
    .login-main {
        margin-bottom: -102px;
    }

    .login-main-body {

    }

    .login-center-ctn {

    }

    /** nav bar **/
    .nav-body .logo {
        background: url(../image/logo.png) no-repeat;
        background-size: 45px;
        width: 60px;
    }
    .nav-body .nav-profile {
        min-width: 0;
    }
    .nav-body .nav-profile .user-info {
        width: 45px;
    }

    .nav-body .nav-profile .user-info .name {
        display: none;
    }

    .nav-body .nav-menus {
        right: 10px;
    }

    /** code list **/
    .code-list-sidebar {
        display: none;
    }
    .code-list-main .code-list .code-list-body {
        margin: 0;
    }

    /** settings **/
    .settings-field .input-text{
        width: 200px;
    }
    .settings-field .disabled {
        width: 100px;
        background: #EEE!important;
    }
}
